body

{
	margin: 0px;
	padding: 0px;
   font-family: sans-serif;
}
.logo
{
	display: inline-block;
	width:60px;
	height: 50px;
	margin: 5px 0px 5px 10px;
}
a.back-to-top {
   display: inline-block;
   width: 60px;
   height: 60px;
   text-indent: -9999px;
   position: fixed;
   z-index: 999;
   right: 20px;
   bottom: 20px;
   background: #27AE61 url("../up-arrow.png") no-repeat center 43%;
   -webkit-border-radius: 30px;
   -moz-border-radius: 30px;
   border-radius: 30px;
}
a:hover.back-to-top
{
   background-color: black;
}
nav
{
	background-color:#212126;
	width: 100%;
	height: 60px;
	margin: 0px;
}
nav ul
{
	margin: 0px;
	padding: 0px;
	display: inline-block;
	float: right;
}
nav li
{
	list-style-type: none;
	float: right;
	font-size: 24px;
	padding: 15px;
}
nav li a
{
	color: #aaa;
    text-decoration: none;
}
img
{
  height: 590px;
  width:100%;
}
#slider
{
   background: #000;
   border: 5px solid #eaeaea;
   box-shadow: 1px 1px 5px rgba(0,0,0,0.7);
   height: 590px;
   width: 99%;
   margin: auto;
   overflow: visible;
   position: relative;
}
#mask
{
  overflow: hidden;
  height: 600px;
}
#slider ul {
   margin: 0;
   padding: 0;
   position: relative;
}

#slider li {
   width:100%;
   height: 600px;
   position: absolute;
   list-style: none;
}
#slider li.firstanimation {
   animation: cycle 25s linear infinite;
}

#slider li.secondanimation {
   animation: cycletwo 25s linear infinite;
}

#slider li.thirdanimation {
   animation: cyclethree 25s linear infinite;
}

#slider li.fourthanimation {
   animation: cyclefour 25s linear infinite;
}

#slider li.fifthanimation {
   animation: cyclefive 25s linear infinite;
}
#slider .tooltip {
   background: rgba(0,0,0,0.7);
   width: 300px;
   height: 60px;
   text-align:center;
   position: relative;
   bottom: 150px;
   left:520px;
}

#slider .tooltip h1 {
   color: red;
   font-size: 30px;
   font-weight: 300;
   line-height: 60px;
}
#slider:hover li
{
   animation-play-state:paused;
}
.main-heading
{
   overflow: hidden;
   background-color: #2893e0;
   text-align: center;
   font-weight: 500;
   font-size: 26px;
   height: 80px;
   border-bottom: 1px solid black;
}
.main-heading p
{
   text-decoration:underline;
}
.news-section
{
 border: 2px solid black;
}
.index-news
{
   overflow: hidden;

   height: auto;
   width: 100%;
}
.index-news article
{
   margin: 2%;
   width: 45.5%;
   border-top: 4px solid black;
   border-radius: 4px;
   background-color:#a9d0f9;
   display: inline-block;
}
.article-subheading p
{
   margin:0;
   padding:0;
}

.index-news article p
{
   font-family: georgia;
   padding-left: 10px;
}

.index-news article a
{
   text-decoration: none;
}
.index-news article h1
{
   font-family: serif;
   margin-bottom:0;
   padding-left:10px;
}
.img-wrapper img
{
   height: 150px;
   width: 150px;
   margin-left: 2px;
   margin-top: 5px;
}
.img-wrapper
{
   float: left;
   padding-left: 10px;
   padding-right: 10px;
}
.news-section button
{
   border-radius: 5px;
   background-color: grey;
}
.contact-form
{
   background-color: #f2f2f2;
   padding: 50px 100px;
   font-size: 14px;
   font-style: Verdana, Tahoma, sans-serif;
}
h2
{
   margin-bottom: 20px;
   color: #4c5b93;
}
.contact-form input, textarea
{
   padding: 10px;
   width: 200px;
   border:1px solid #e5e5e5;
   color: #999999;
   box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}
.contact-form textarea
{
   height: 100px;
   width: 300px;
   max-width: 300px;
   line-height: 18px;
}
.contact-form input:hover, textarea:hover,
input:focus, textarea:focus
{
   border: 1px solid #c9c9c9;
   box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}
.contact-form label
{
   margin-left:20px;
}
/*#submit
{
   width: 100px;
   height:40px;
   background-color:#bab6b6; #8a98ce
   border-radius: 5px;

}

#submit:hover
{
   cursor: pointer;
   background-color: #687299;
   color:white;
}
/* ANIMATION */
@keyframes cycle {
   0%  { right: 0px; }
   4%  { right: 0px; }
   16% { right: 0px; opacity:1; z-index:0; }
   20% { right: 325px; opacity: 0; z-index: 0; }
   21% { right: -325px; opacity: 0; z-index: -1; }
   92% { right: -325px; opacity: 0; z-index: 0; }
   96% { right: -325px; opacity: 0; }
   100%{ right: 0px; opacity: 1; }
}

@keyframes cycletwo {
   0%  { right: -325px; opacity: 0; }
   16% { right: -325px; opacity: 0; }
   20% { right: 0px; opacity: 1; }
   24% { right: 0px; opacity: 1; }
   36% { right: 0px; opacity: 1; z-index: 0; }
   40% { right: 325px; opacity: 0; z-index: 0; }
   41% { right: -325px; opacity: 0; z-index: -1; }
   100%{ right: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclethree {
   0%  { right: -325px; opacity: 0; }
   36% { right: -325px; opacity: 0; }
   40% { right: 0px; opacity: 1; }
   44% { right: 0px; opacity: 1; }
   56% { right: 0px; opacity: 1; }
   60% { right: 325px; opacity: 0; z-index: 0; }
   61% { right: -325px; opacity: 0; z-index: -1; }
   100%{ right: -325px; opacity: 0; z-index: -1; }
}

@keyframes cyclefour {
   0%  { right: -325px; opacity: 0; }
   56% { right: -325px; opacity: 0; }
   60% { right: 0px; opacity: 1; }
   64% { right: 0px; opacity: 1; }
   76% { right: 0px; opacity: 1; z-index: 0; }
   80% { right: 325px; opacity: 0; z-index: 0; }
   81% { right: -325px; opacity: 0; z-index: -1; }
   100%{ right: -325px; opacity: 0; z-index: -1; }
}
@keyframes cyclefive {
   0%  { right: -325px; opacity: 0; }
   76% { right: -325px; opacity: 0; }
   80% { right: 0px; opacity: 1; }
   84% { right: 0px; opacity: 1; }
   96% { right: 0px; opacity: 1; z-index: 0; }
   100%{ right: 325px; opacity: 0; z-index: 0; }
}
